
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;

}

:root {
    --color-dark: #1d2027;
    --color-orange: #e77d35;
  }
   .text-center{
    text-align: center;
  }
.aside {
    width: 250px;
    color: var(--color-very-light-gray);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    background-color: var(--color-dark);
  }
  .aside .aside__logo img {
    width: 66px;
  }

  .aside .aside__navigation li  {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--color-dark-gray);
    border-radius: 5px;
    margin: 20px 0;

  }
  .aside .aside__navigation li img {
    margin-right: 15px;
  }
  .aside .aside__navigation li a {
    color: var(--color-light-gray);
  }
  .aside .aside__navigation li span {
    padding-left: 10px;
  }
  
  .aside li {
    margin: 10px 0;
  }
  /* *********************************** */
   /* start main   */
  /*****************************/
  .main-layout {
    display: flex;
  }
  /************ login page  ************/
  /* src/components/LoginPage.css */

.loginFormParent{
  width: 100%;
    height: 100vh;
    background-image: url('../imgs/packages.jpg');
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
   
}
.loginFormParent .sign-in {
  background-color: #ffffff6e;
  height: 427px;
  width: 350px;
  border-radius: 10px;
  padding: 30px;
}

.loginFormParent .sign-in .ele-center   {
  width: 330px;
  margin: 15px auto;
}
.loginFormParent .sign-in label {
  margin-bottom: 10px;
}
.loginFormParent .sign-in input , .loginFormParent .sign-in label{
  display: block;

}
.loginFormParent .sign-in input {
  width: 320px;
  padding: 15px 0 15px 5px;
  border-radius: 5px;
  border: none;
  outline: none;

}
.loginFormParent .sign-in input[type="submit"]{
  background-color: var(--color-skyblue);
  font-size: 20px;
  cursor: pointer;
}
.loginFormParent .sign-in  .remember-me a {
  margin-bottom: 20px;
  display: block;
  width: 328px;

} 
/* / users component  */
.users__table {
  border-collapse: collapse;
}
.users__table thead ,  tbody {
  border-right: 1px solid;
}
.users__table th {
  border-top: 1px solid ;
 
}
.users__table td ,  .users__table th {
    border-bottom: 1px solid ;
    padding: 10px ;
    text-align: left;
}
.users__table th ,.users__table td ,  .users__table thead , .users__table  tbody {
  border-color: var(--color-mid-gray);
}
.users__table tbody td button {
  font-size: 14px;
  border: none;
  background:none;
}
.users__table tbody td button  img {
  width: 20px;
}
.users__table tbody td button:nth-of-type(2){
  margin-left: 15px;
}
/**********************************/
.user-manager .header  {
  display: flex;
  justify-content: space-between;
}
.user-manager .header .add__user__button {
  padding: 10px;
  background-color: var(--color-green);
  border-radius: 5px;
  color: var(--color-light-gray);
  border: none;
}
.user-manager .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-manager .filters {
  margin-bottom: 20px;
}

.user-manager .add-user-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.user-manager .add-user-button:hover {
  background-color: #45a049;
}

input[type="text"], input[type="date"], select {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/**** edit user modal ***/

.modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000cc;
  padding: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay .email__username , .modal-overlay .date__system__type{
  display: flex;
  justify-content: space-between;
}
.modal-overlay .email__username label {
  width: 45%;
}

.modal-overlay form h2{
  padding: 5px 0;
  text-align: center;
}
.modal-overlay > div  {
  width: 30%;
  background-color: white;
  padding: 40px ;
}

.modal-overlay form input ,  .modal-overlay select {
 display: block;
 width: 100%;
 padding: 10px 5px;
 background: none;
 border:  1px solid var(--color-very-light-gray);
 margin: 10px 0;
}
.modal-overlay form .modal-actions {
  display: flex;
  justify-content: space-between;
 position: relative;
 top: 15px;
}
.modal-overlay form .modal-actions button {
  width: 40%;
  padding: 10px 0;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.modal-overlay form .modal-actions button:nth-of-type(1){
  background-color: var(--color-green);
  
}
.modal-overlay form .modal-actions button:nth-of-type(2){
  background-color: var(--color-dark-gray);
  color: white;
}
/* // home page styles  */
/* General styling */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  overflow: hidden;
}

/* Header styling */
.homepage__header {
  background-color: #333;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.homepage__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo  img {
  width: 60px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.cta {
  padding: 10px 20px;
  background-color: #ff914d;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #e77d35;
}

/* Hero section styling */
.homepage__hero { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero__content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
  animation: fadeInUp 1.5s ease;
}

.hero__content p {
  font-size: 18px;
  margin-bottom: 30px;
  animation: fadeInUp 2s ease;
}

.hero__cta {
  animation: fadeInUp 2.5s ease;
}
.homepage__hero {
  position: relative;
  overflow: hidden;
  z-index:1;
  height: 700px; /* Adjust based on your design */
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 2; /* Place video behind content */
  transform: translate(-50%, -50%);
}

.hero__content {
  position: relative; /* Ensure content stays above the video */
  z-index: 3; /* Raise content above the video */
  text-align: center; /* Center text if desired */
  color: white; /* Adjust text color for visibility */
}


/* Main content styling */
.homepage__main {
  padding: 80px 20px;
}

/* // about us  */
section.about__us {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.about__us .company__description {
   width: 40%;
}
section.about__us img {
  border-radius: 5px;
  height: 400px;
}
section.about__us h3 , section.about__us h2 {
  color: var(--color-orange) !important;
}
section.about__us h1 {
  padding-bottom: 20px;
}
section.about__us p {
  padding: 20px 0;
  line-height: 25px;
}
/* ************************* */
.about, .services {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}

.services {
  background-color: #f8f8f8;
}

.service__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.service__item {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 300px;
}

.service__item:hover {
  transform: translateY(-10px);
}

/* Footer styling */
.homepage__footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer__links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__social a {
  color: #ff914d;
  margin: 0 10px;
  text-decoration: none;
}

.footer__social a:hover {
  color: #e77d35;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
