
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;

}

:root {
    --color-dark: #1d2027;
    --color-green: #30b938;
    --color-light-gray: #f2f3f8;
    --color-dark-gray: #35363b;
    --color-very-light-gray: #edeef3;
    --color-mid-gray : #cacbcf;
  }
   .text-center{
    text-align: center;
  }
.aside {
    width: 250px;
    color: var(--color-very-light-gray);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    background-color: var(--color-dark);
  }
  .aside .aside__logo img {
    width: 66px;
  }

  .aside .aside__navigation li  {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--color-dark-gray);
    border-radius: 5px;
    margin: 20px 0;

  }
  .aside .aside__navigation li img {
    margin-right: 15px;
  }
  .aside .aside__navigation li a {
    color: var(--color-light-gray);
  }
  .aside .aside__navigation li span {
    padding-left: 10px;
  }
  
  .aside li {
    margin: 10px 0;
  }
  /* *********************************** */
   /* start main   */
  /*****************************/
  .main-layout {
    display: flex;
  }
  /************ login page  ************/
  /* src/components/LoginPage.css */

.loginFormParent{
  width: 100%;
    height: 100vh;
    background-image: url('../imgs/back.jpg.crdownload');
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-very-light-gray);
   
}
.loginFormParent .sign-in {
  background-color: var(--color-dark-gray);
  height: 427px;
  width: 350px;
  border-radius: 10px;
  padding: 30px;
}

.loginFormParent .sign-in .ele-center   {
  width: 330px;
  margin: 15px auto;
}
.loginFormParent .sign-in label {
  margin-bottom: 10px;
}
.loginFormParent .sign-in input , .loginFormParent .sign-in label{
  display: block;

}
.loginFormParent .sign-in input {
  width: 320px;
  padding: 15px 0 15px 5px;
  border-radius: 5px;
  border: none;
  outline: none;

}
.loginFormParent .sign-in input[type="submit"]{
  background-color: var(--color-green);
  font-size: 20px;
  cursor: pointer;
}
.loginFormParent .sign-in  .remember-me a {
  margin-bottom: 20px;
  display: block;
  width: 328px;

} 
/* / users component  */
.users__table {
  border-collapse: collapse;
}
.users__table thead ,  tbody {
  border-right: 1px solid;
}
.users__table th {
  border-top: 1px solid ;
 
}
.users__table td ,  .users__table th {
    border-bottom: 1px solid ;
    padding: 10px ;
    text-align: left;
}
.users__table th ,.users__table td ,  .users__table thead , .users__table  tbody {
  border-color: var(--color-mid-gray);
}
.users__table tbody td button {
  font-size: 14px;
  border: none;
  background:none;
}
.users__table tbody td button  img {
  width: 20px;
}
.users__table tbody td button:nth-of-type(2){
  margin-left: 15px;
}
/**********************************/
.user-manager .header  {
  display: flex;
  justify-content: space-between;
}
.user-manager .header .add__user__button {
  padding: 10px;
  background-color: var(--color-green);
  border-radius: 5px;
  color: var(--color-light-gray);
  border: none;
}
.user-manager .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-manager .filters {
  margin-bottom: 20px;
}

.user-manager .add-user-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.user-manager .add-user-button:hover {
  background-color: #45a049;
}

input[type="text"], input[type="date"], select {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/**** edit user modal ***/
.modal-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000cc;
  padding: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay form h2{
  padding: 10px 0;
  text-align: center;
}
.modal-overlay > div  {
  width: 30%;
  background-color: white;
  padding: 40px ;
}

.modal-overlay form input ,  .modal-overlay select {
 display: block;
 width: 100%;
 padding: 10px 5px;
 background: none;
 border:  1px solid var(--color-very-light-gray);
 margin: 10px 0;
}
.modal-overlay form .modal-actions {
  display: flex;
  justify-content: space-between;
 position: relative;
 top: 15px;
}
.modal-overlay form .modal-actions button {
  width: 40%;
  padding: 10px 0;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.modal-overlay form .modal-actions button:nth-of-type(1){
  background-color: var(--color-green);
  
}
.modal-overlay form .modal-actions button:nth-of-type(2){
  background-color: var(--color-dark-gray);
  color: white;
}
