:root {
    --color-dark: #1d2027;
    --color-green: #30b938;
    --color-light-gray: #f2f3f8;
    --color-dark-gray: #35363b;
    --color-very-light-gray: #edeef3;
  }

.aside {
    width: 250px;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .aside ul {
    list-style: none;
    padding: 0;
  }
  
  .aside li {
    margin: 10px 0;
  }
  /* *********************************** */
   /* start main   */
  /*****************************/
  
  /************ login page  ************/
  /* src/components/LoginPage.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}
